{% extends 'ski_resort_grp1/base.html' %} {% block title %}Base Stations - Ski Resort Dashboard{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="my-4"><i class="bi bi-house-door"></i>Base Stations</h2>

      <!-- Base Stations Table -->
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Schedule</th>
          </tr>
        </thead>
        <tbody>
          {% for base_station in base_stations %}
          <tr>
            <td>{{ base_station.name }}</td>
            <td>{{ base_station.type }}</td>
            <td>{{ base_station.schedule }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
