{% extends 'ski_resort_grp1/base.html' %} {% block title %}Base Stations - Ski
Resort Dashboard{%endblock %} {% block content %}
<div class="container">
  <h2>Base Stations</h2>
  {% if grouped_stations %}
  <ul>
    {% for base_name, stations in grouped_stations.items %}
    <li>
      {{ base_name }}
      <ul>
        {% for station in stations %}
        <li>{{ station.type }} - Schedule: {{ station.schedule }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No base stations found.</p>
  {% endif %}
</div>
{% endblock %}
