{% extends 'ski_resort_grp1/base.html' %}

{% block title %}Home - Ski Resort Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">Welcome to the Anzère Ski Resort</h2>
            <p>This is the homepage of the Anzère Ski Resort Dashboard. Use the sidebar to navigate through various features such as Ski Routes, Ski Lifts, Restaurants, Bus Stations, and Weather.</p>
        </div>
    </div>
</div>
{% endblock %}
