{% extends 'ski_resort_grp1/base.html' %}

{% block title %}Restaurants - Ski Resort Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4"><i class="bi bi-shop-window"></i> Restaurants</h2>

            <!-- Restaurants Table -->
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    {% for restaurant in restaurants %}
                    <tr>
                        <td>{{ restaurant.name }}</td>
                        <td><a href="{{ restaurant.website }}" target="_blank">{{ restaurant.website }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
